/*
babyStage.css contains everything related to the baby babyStage
*/

/* directly under game div */
#babyStage{
  position: relative;
  border-style: solid;
  height: 300px;
  margin: 5px;
  padding: 5px;
  float: left;
}

.slidecontainer {
    width: 50px;
    transform: rotateZ(270deg);
}

/* The slider itself */
.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3; /* Grey background */
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50; /* Green background */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/* under babyStage */
#babyLabels{
  display: none;
}

/* under #buttons */
.babyButtons{
  border: outset;
  background-color: #C2BEBD;

}
.babyButtons:active{
  background-color: #A8A4A3;
}
