/*
babyStage.css contains everything related to the baby babyStage
*/

/* directly under game div */
#babyStage{
  position: relative;
  border-style: solid;
  height: 300px;
  width: 250px;
  margin: 5px;
  padding: 5px;
  float: left;
}

/* under babyStage */
#buttons{
  display: none;
}

/* under #buttons */
.babyButtons{
  border: outset;
  background-color: #C2BEBD;

}
.babyButtons:active{
  background-color: #A8A4A3;
}
