/*
game.css holds all the css for elements related to the game <div>
*/

#game{
  display: none;
  position: relative;
  float:left;
}

/* under #game */
#gameData{
  position: relative;
  border-style: solid;
  height: 300px;
  margin: 5px;
  padding: 5px;
  float: left;
}

/* directly under game */
#pAdoration{
  display: inline;
  float: left;
  height: 100%;
  width: 115px;
  position: relative;

}

 /* directly under pAdoration */
#pAdorationText{
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;
}

/* directly under game */
#selfWill{
  float:left;
  height: 100%;
  width: 115px;
  position: relative;

}

/* directly under selfwill*/
#selfWillText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}

/*Directly under #game*/
#intelligence{
  float:left;
  height: 100%;
  width: 115px;
  position: relative;

}

/* directly under #intelligence */
#intelligenceText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}

/*Directly under #game*/
#pottyTrain{
  float:left;
  height: 100%;
  width: 115px;
  position: relative;

}

/* directly under #pottyTrain */
#pottyTrainText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}

/*Directly under #game*/
#parentStress{
  float:left;
  height: 100%;
  width: 135px;
  position: relative;

}

/* directly under #parenStress */
#parentStressText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}
