body {
  background-color: lightgray;
  font-family: Arial;
  margin:0;
  padding: 0;

  /* min width to 700px */
  min-width:700px;
  width: auto !important;
  width:700px;
}

/*overflow will hide the text when not in the container */
#tapeContainer{
  /* width needs to be 100% to fill width of parent - run all across screen */
  width: 100%;
  height: 30px; /* to fit the height of the font of 24px (see tapeAnimate) */
  background-color: black;
  position: relative;
  overflow:hidden;
  display: none; /* shouldn't display until cookies/name has been set. */
}

#tapeAnimate{
  /* by default, width and height should be the same as parent (100%).
  width will change in js for the tape */
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;


}

#topHeading{
 color: black;
 background-color: darkgrey ;
 margin: 0px;
 padding: 0px;
 font-size: 25px;

 /* width should be complete width of screen, height should be constant px */
 width: 100%;
 height: 100px;

}

/* directly under header */
#gamePlayerInformation{
  width: 350px;
  float:left;
  display: inline;

  padding: 5px 0px 0px 10px;
}

.clearfix {
  clear: both;
}

#gameName{

  font-weight: bold;
}



#gamePlayer, #gamePosition{
  display:none;
}
