
body {
 background-color: lightgray;
 font-family: Arial;
 margin:0;
 padding: 0;
}

/*overflow will hide the text when not in the container */
#tapeContainer{
  /* width needs to be 100% to fill width of parent - run all across screen */
  width: 100%;
  height: 30px; /* to fit the height of the font of 24px (see tapeAnimate) */
  background-color: black;
  position: relative;
  overflow:hidden;
  display: none; /* shouldn't display until cookies/name has been set. */
}

#tapeAnimate{
  /* by default, width and height should be the same as parent (100%).
  width will change in js for the tape */
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;


}

#buttons{
  width: 40px;
  height: 20px;
  font-size: 30px;
  display: none;


}

.babyButtons{
  margin: 1px;
  border: outset;
  background-color: #C2BEBD;

}

.babyButtons:active{
  background-color: #A8A4A3;
}

#topHeading{
 color: black;
 background-color: darkgrey ;
 margin: 0px;
 padding: 0px;
 font-size: 25px;

 /* width should be complete width of screen, height should be constant px */
 width: 100%;
 height: 100px;

}

/* directly under header */
#gamePlayerInformation{
  width: 350px;
  float:left;
  display: inline;

  padding: 5px 0px 0px 10px;
}

/* directly under game div */
#babyStage{
  position: relative;
  border-style: solid;
  width: 400px;
  height: 300px;
}
/* directly under game */
#pAdoration{
  display: inline;
  float: left;
  height: 100%;
  width: 115px;
  position: relative;

}
 /* directly under pAdoration */
#pAdorationBar{
  height: 0px;
  width: 57px;
  background-color: black;
  bottom: 20px;
  position: absolute;
  margin-left: 28px;
}

 /* directly under pAdorationBar */
#pAdorationText{
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;
}

/* directly under game */
#selfWill{
  float:left;
  left: 20px;
  height: 100%;
  width: 115px;
  position: relative;

}

/* directly under selfwill */
#selfWillBar{
  height: 0px;
  width: 57px;
  background-color: black;
  bottom: 20px;
  position: absolute;
  margin-left: 28px;

}

/* directly under selfwill*/
#selfWillText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}

/*Directly from the mouth */
#intelligence{
  float:left;
  left: 20px;
  height: 100%;
  width: 115px;
  position: relative;

}

/* directly under selfwill */
#intelligenceBar{
  height: 0px;
  width: 57px;
  background-color: black;
  bottom: 20px;
  position: absolute;
  margin-left: 28px;

}

/* directly under selfwill*/
#intelligenceText{
  margin-left: 28px;
  font-size: 14px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;

}

#gameData{
  position: relative;
  border-style: solid;
  bottom: 304.5px;
  left: 404.5px;
  width: 700px;
  height: 300px;


}

#gameData{
  position: relative;
  border-style: solid;
  bottom: 304.5px;
  left: 404.5px;
  width: 700px;
  height: 300px;


}

.clearfix {
  clear: both;
}

#gameName{

  font-weight: bold;
}

form{
 border-style: outset;
 padding: 20px;

}

#gamePlayer, #gamePosition{
  display:none;
}

input, form {
 font-size: 20pt;
}


#game, #nameInputFields {
  display: none;
}

#game{
  width: 100%;
  height: 600px;
  position: absolute;
}

form.rounded, input.rounded {
  /* Safari 5, Chrome support border-radius without vendor prefix.
   * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
   * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
   */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

form.rounded {
  border: 2px outset gray;
}

/*inputs with rounded edges*/
input.rounded {

  border: 1px solid #ccc;

  /* Chrome, FF 4.0 support box-shadow without vendor prefix.
   * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
   * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
   * change the offsets, blur and color to suit your design.
   */
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;

  /* with a big radius/font there needs to be padding left and right
   * otherwise the text is too close to the radius.
   * on a smaller radius/font it may not be necessary
   */
  padding: 4px 7px;

  /* only needed for webkit browsers which show a rectangular outline;
   * others do not do outline when radius used.
   * android browser still displays a big outline
   */
  outline: 0;

  /* this is needed for iOS devices otherwise a shadow/line appears at the
   * top of the input. depending on the ratio of radius to height it will
   * go all the way across the full width of the input and look really messy.
   * ensure the radius is no more than half the full height of the input,
   * and the following is set, and everything will render well in iOS.
   */
  -webkit-appearance: none;
}

input.rounded:focus {

  /* supported IE8+ and all other browsers tested.
   * optional, but gives the input focues when selected.
   * change to a color that suits your design.
   */
  border-color: gray;

}
