
body {
 background-color: lightgray;
<<<<<<< HEAD
 margin:0;
 padding: 0;
}
#heading{
 color: blue;
 background-color: black;
 margin: 0px;
 padding: 1%;
 font-size: 200%;

=======
 font-family: Arial;
}
h1{
 color: black;
>>>>>>> d34ea794327ed35b9a1b205f2c8d8a9ea6d833bc
}
